In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("weather_data.csv", parse_dates=['Date_Time'])
df.sort_values('Date_Time')

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
360731,Phoenix,2024-01-01 00:00:06,0.618582,46.871717,7.379615,5.321995
689109,Houston,2024-01-01 00:00:06,39.469465,34.789904,9.807685,20.475434
884595,Los Angeles,2024-01-01 00:00:15,35.920611,80.786237,0.859060,21.634439
628847,San Antonio,2024-01-01 00:00:18,32.048197,45.576250,2.894071,23.335641
706342,San Diego,2024-01-01 00:00:31,-8.090262,81.472454,5.435076,7.609853
...,...,...,...,...,...,...
985301,Chicago,2024-05-18 19:43:30,-1.561114,35.861711,8.802004,7.852678
216426,Philadelphia,2024-05-18 19:43:50,8.597967,88.073644,5.137802,21.671935
324735,New York,2024-05-18 19:43:55,7.679884,89.701606,6.760624,21.417264
809633,Houston,2024-05-18 19:44:02,34.038278,57.755329,0.939044,4.530607
758659,San Antonio,2024-05-18 19:44:10,38.273794,56.817292,8.591043,27.106023

In [3]:
df = pd.read_csv("weather_data.csv")

In [4]:
df.head(4)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303

In [5]:
df.tail(4)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
999996,San Antonio,2024-01-20 15:59:48,6.759080,40.731036,8.182785,29.005558
999997,New York,2024-04-14 08:30:09,15.664465,62.201884,3.987558,0.403909
999998,Chicago,2024-05-12 20:10:43,18.999994,63.703245,4.294325,6.326036
999999,New York,2024-04-16 16:11:52,10.725351,43.804584,1.883292,15.363828

In [6]:
df.describe()

        Temperature_C    Humidity_pct  Precipitation_mm  Wind_Speed_kmh
count  1000000.000000  1000000.000000    1000000.000000  1000000.000000
mean        14.779705       60.021830          5.109639       14.997598
std         14.482558       17.324022          2.947997        8.663556
min        -19.969311       30.000009          0.000009        0.000051
25%          2.269631       45.008500          2.580694        7.490101
50%         14.778002       60.018708          5.109917       14.993777
75%         27.270489       75.043818          7.613750       22.514110
max         39.999801       89.999977         14.971583       29.999973

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB

In [8]:
df.shape

(1000000, 6)

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.Temperature_C

0         10.683001
1          8.734140
2         11.632436
3         -8.628976
4         39.808213
            ...
999995    23.416877
999996     6.759080
999997    15.664465
999998    18.999994
999999    10.725351
Name: Temperature_C, Length: 1000000, dtype: float64

In [11]:
df[['Temperature_C','Humidity_pct','Precipitation_mm']]

        Temperature_C  Humidity_pct  Precipitation_mm
0           10.683001     41.195754          4.020119
1            8.734140     58.319107          9.111623
2           11.632436     38.820175          4.607511
3           -8.628976     54.074474          3.183720
4           39.808213     72.899908          9.598282
...               ...           ...               ...
999995      23.416877     37.705024          3.819833
999996       6.759080     40.731036          8.182785
999997      15.664465     62.201884          3.987558
999998      18.999994     63.703245          4.294325
999999      10.725351     43.804584          1.883292

[1000000 rows x 3 columns]

In [12]:
df.dropna()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622
...,...,...,...,...,...,...
999995,Dallas,2024-01-01 20:29:48,23.416877,37.705024,3.819833,16.538119
999996,San Antonio,2024-01-20 15:59:48,6.759080,40.731036,8.182785,29.005558
999997,New York,2024-04-14 08:30:09,15.664465,62.201884,3.987558,0.403909
999998,Chicago,2024-05-12 20:10:43,18.999994,63.703245,4.294325,6.326036
999999,New York,2024-04-16 16:11:52,10.725351,43.804584,1.883292,15.363828

In [13]:
df.drop_duplicates(subset=['Location'])

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622
6,San Jose,2024-01-13 02:10:54,1.881883,65.742325,0.221709,1.073112
7,New York,2024-01-25 19:04:34,-6.894766,30.804894,8.027624,16.848337
11,Houston,2024-03-07 22:03:36,15.816764,80.119902,3.760004,16.752132
12,Dallas,2024-02-27 21:07:10,32.016898,53.194371,3.552671,3.050196
17,Chicago,2024-01-06 02:59:46,26.786811,31.513614,0.496024,22.980095
29,Los Angeles,2024-02-15 20:47:24,-2.409511,46.834004,4.550643,7.437357
37,Phoenix,2024-01-29 07:08:28,1.512627,89.417846,5.210117,7.332915

In [14]:
print(df.columns)

Index(['Location', 'Date_Time', 'Temperature_C', 'Humidity_pct',
       'Precipitation_mm', 'Wind_Speed_kmh'],
      dtype='object')

In [15]:
for col in df.columns:
    print(f"'{col}': {len(col)}")

'Location': 8
'Date_Time': 9
'Temperature_C': 13
'Humidity_pct': 12
'Precipitation_mm': 16
'Wind_Speed_kmh': 14

In [16]:
df.rename(columns=lambda x: x.strip(), inplace=True)

In [17]:
df = df.set_index('Temperature_C')

In [18]:
print(df.columns)

Index(['Location', 'Date_Time', 'Humidity_pct', 'Precipitation_mm',
       'Wind_Speed_kmh'],
      dtype='object')

In [19]:
df.columns = df.columns.str.strip()

In [20]:
df = df.set_index('Temperature_C')

KeyError: "None of ['Temperature_C'] are in the columns"

In [ ]:
df.columns = [str(name).lower() for name in df.columns.tolist()]
df.head()

,location,date_time,temperature_c,humidity_pct,precipitation_mm,wind_speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [ ]:
TEMP = list(map(str, range(10,30)))
print(TEMP)

['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']

In [ ]:
df['total'] = df[TEMP].sum(axis=1)
df.head()

KeyError: "None of [Index(['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',\n       '22', '23', '24', '25', '26', '27', '28', '29'],\n      dtype='object')] are in the [columns]"

In [ ]:
print(df.head())

       location            date_time  temperature_c  humidity_pct  \
0     San Diego  2024-01-14 21:12:46      10.683001     41.195754
1     San Diego  2024-05-17 15:22:10       8.734140     58.319107
2     San Diego  2024-05-11 09:30:59      11.632436     38.820175
3  Philadelphia  2024-02-26 17:32:39      -8.628976     54.074474
4   San Antonio  2024-04-29 13:23:51      39.808213     72.899908

   precipitation_mm  wind_speed_kmh
0          4.020119        8.233540
1          9.111623       27.715161
2          4.607511       28.732951
3          3.183720       26.367303
4          9.598282       29.898622

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   location          1000000 non-null  object
 1   date_time         1000000 non-null  object
 2   temperature_c     1000000 non-null  float64
 3   humidity_pct      1000000 non-null  float64
 4   precipitation_mm  1000000 non-null  float64
 5   wind_speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB
None

In [ ]:
print(list(df.columns))

['location', 'date_time', 'temperature_c', 'humidity_pct', 'precipitation_mm', 'wind_speed_kmh']

In [ ]:
cities = df.index.tolist()

: